<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>{{ title }}</title>
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		{% include "partials/opengraph.html" %}
		<link rel="stylesheet" href="/assets/css/tailwind.css">
		<link rel="stylesheet" href="/assets/css/reveal.css">
	</head>
	<body>

		{% include "partials/header.html" %}
		{% include "partials/navbar.html" %}
		{% include "partials/leading.html" %}
		{% block content %}{% endblock %}
		{% include "partials/footer.html" %}
		<script src="/assets/js/reveal.js"></script>
	</body>
</html>
