<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>

    {# <!--version build  <style> {% include "css/critical.css" %} </style> --> #}

    <!-- version dev -->
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <!-- end version dev -->
    
  </head>
  <body>
    {% include "partials/header.html" %}
    {% include "partials/navbar.html" %}
    {% include "partials/leading.html" %}
    {% block content %}
    <p>
      Here is some placeholder content that will render if a template doesn’t define a block.
    </p>
    {% endblock %}
  </body>
</html>