{% extends "layouts/base.html" %}
{% block content %}
	<div class="container page">
		<p>Clés perdues ou oubliées ? Serrure bloquée ? Le verrou est cassé? Porte à remplacer ? Face à de tels tracas, il est toujours utile d’avoir sous la main le
			<strong>numéro de téléphone d’un serrurier</strong>
			ou son l’adresse. Oui, mais dans l’urgence ou la panique, votre choix hâtif d’un serrurier peut avoir des conséquences fâcheuses : travaux incomplets, remplacements inutiles, pièces coûteuses, rajouts salés, etc. C’est pourquoi
			<strong>{{ site.name }}</strong>
			vous propose  un service de qualité à des prix justes et transparents. Le meilleur serrurier près de chez vous : distance, prix, rapport qualité/prix, devis gratuits, catalogues, avis… ."
		</p>
		<h2 class="my-8">Zone d'intervention</h2>
		<p class="mb-8">{{ site.name | title }}
			est disponible pour tous vos besoins dans les communes suivantes :</p>
		<ul class="grid grid-cols-2 md:grid-cols-4 text-primary font-medium text-lg mb-16">
			{% for commune in site.communes %}
				<li class="mb-6">{{ commune}}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="lg:flex mb-16">
		<div class="container space-y-2 lg:w-1/2 lg:px-[5%] xl:px-[10%] mb-8 page">
			<h3 class="text-3xl text-gray-500">RÉPARATION OU REMPLACEMENT</h3>
			<h2 class="text-3xl">Les services de nos serruriers</h2>
			<p>Installation, réparation, entretien et services d’urgence de déverrouillage de serrures à domicile efficaces et performants. Nous accordons une grande importance à la sécurité et à la sûreté de votre maison, et nous en faisons toujours notre priorité absolue.</p>
			<a href="/services.html" alt="services serrurerie" class="reveal reveal-scale inline-block bg-secondary text-white p-4 font-extrabold uppercase">services serrurerie</a>
		</div>
		{% image "src/assets/images/mid-home.jpg",  "service serrurier", "image_mid", "w-1/2" %}
	</div>

	{% include "partials/services.html" %}

	<article class="container page">
		{{ content | safe}}
	</article>

	<div class="reveal reveal-scale text-center py-8">
		<a href="/tarif.html" alt="tarif serrurerie" class=" inline-block bg-secondary text-white py-4 px-6 font-extrabold font-josefin tracking-widest uppercase shadow-xl ">Combien coûte un serrurier à Bruxelles ?</a>
	</div>

	<!-- Avis clients-->
	<div class="bg-slate-300 pt-20 pb-40">
		<div class="container md:grid grid-cols-2">
			{% set origin = cycler("origin-top-right", "origin-top-left", "origin-top-left") %}
			{% for avis in avis_client.home %}
				<div class="{{origin.next()}} px-8 py-14 reveal reveal-scale bg-white text-center {% if loop.index == 2 %} mb-6 md:mb-0 md:translate-y-8 md:-translate-x-8 shadow-xl {% endif %} ">
					<p class="mb-12 text-lg leading-8 font-medium">{{ avis.commentaire }}</p>
					<p class="text-sm font-bold">{{ avis.nom }}</p>
					<p class="text-sm">Client
						{%- if avis.genre == "F" %}e
						{% endif %}
						{{ site.domain}}</p>
				</div>
				{% if loop.index == 1 %}
					<div class="py-14 pl-10 pr-2.5">
						<h4 class="uppercase text-gray-400 mb-4 font-josefin font-extrabold">AVIS CLIENTS
							{{ site.domain }}</h4>
						<p class="text-lg leading-8 font-medium">Notre mission est d’apporter la sécurité et la tranquillité d’esprit.</p>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</div>

{% endblock %}
