.reveal {
  transition-property: opacity, transform, scale;
  transition-duration: 1s;
  /* transition-timing-function: cubic-bezier(0.5, 0, 0, 1); */
  transition-timing-function: ease-in-out;
}
.reveal-1 {
  transform: translateX(30px);
  opacity: 0.2;
}
.reveal-scale {
  scale: 0.8;
  opacity: 0;
}
.reveal-right {
  transform: translateX(60px);
}
.reveal-left {
  transform: translateX(-60px);
}
