<div class="flex flex-col md:flex-row">
  <h2>{{ intro-title }}</h2>
  <div>{{ intro-text }}</div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis iusto eius labore. Tempora sed repellat illum provident reiciendis. Facilis exercitationem repudiandae quo nemo! Error vero sed incidunt saepe itaque.
  Illo suscipit aut vel unde libero, vitae cupiditate excepturi accusantium, fugit iure deleniti dolorum officia commodi iusto odit sunt rem distinctio id! Enim modi nemo sed neque quidem asperiores voluptatum.
  Tempora totam ducimus nostrum rerum dolorum beatae, tempore officiis consectetur velit ratione quod aperiam doloribus. Vel, odit reprehenderit! Ut odit ipsum minus. Illum dolore minus inventore consequuntur sequi dicta nostrum?
  Magnam blanditiis voluptates, velit corrupti obcaecati veritatis sunt exercitationem tenetur asperiores repudiandae necessitatibus provident reiciendis eos aspernatur, quidem dolorum. Corrupti eligendi iure odio rerum laboriosam, maiores dignissimos optio accusantium enim.
  Quasi recusandae ea quos praesentium culpa ex corporis facere nisi repellendus blanditiis? Illum ratione nihil, voluptates excepturi cumque ducimus eum! Reprehenderit consequuntur sint ullam vel optio, quibusdam iure dicta voluptatem.
</div>

