<!-- begin leading template -->
<div class="pt-[6vw] pb-14 text-white relative" style="background-image: linear-gradient(90deg,#283d4b 0%,rgba(128,103,79,0.5) 100%),url(/assets/images/leading/{{leading.background}}); background-position: center;">
	<div class="container font-josefin pt-7 reveal reveal-right">
		<h1 class="text-3xl md:text-5xl lg:text-8xl text-white font-bold">{{ leading.title }}</h1>
		<h2 class="text-2xl md:text-4xl text-white/60">{{ leading.subtitle }}</h2>
	</div>
	<div class="reveal relative left-1/2 reveal-left max-w-fit">
		<a href="" class=" bg-orange-500 rounded px-6 py-1.5 text-xl font-bold">
			Contactez nous</a>
	</div>
	<div style="
																																																																																																									background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMHZ3IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTAgOTAuNzJsMTQwLTI4LjI4IDMxNS41MiAyNC4xNEw3OTYuNDggNjUuOCAxMTQwIDEwNC44OWwxNDAtMTQuMTdWMEgwdjkwLjcyeiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0wIDB2NDcuNDRMMTcwIDBsNjI2LjQ4IDk0Ljg5TDExMTAgODcuMTFsMTcwLTM5LjY3VjBIMHoiLz48L2c+PC9zdmc+);
																																																																																																									background-size: 200% 20vw;
																																																																																																									bottom: -1px;
																																																																																																									height: 20vw;
																																																																																																									width: 100%;
																																																																																																									position: absolute;
																																																																																																									z-index: 1;
																																																																																																									transform: scale(-1,-1);"></div>
<div class="overflow-x-hidden">
		<p class="invisible  sm:visible  animate-leading-flow sm:text-[120px] lg:text-[153px] text-white/20 blur font-bold tracking-tighter whitespace-nowrap">{{ site.name | upper }}</p>
	</div>
</div>
<!-- end leading template -->
